body{
    font-family: Arial, sans-serif;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.days-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.day-link {
    text-decoration: none;
    background-color:gray;
    color: beige;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

.day-link:hover {
    background-color: aquamarine;
}

